/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "KatahdinRound";
  src: url("./fonts/KatahdinRound.otf");
}
@font-face {
  font-family: "Aeonik-Regular";
  src: url("./fonts/aeonik/Aeonik-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Aeonik-Medium";
  src: url("./fonts/aeonik/Aeonik-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Aeonik-Bold";
  src: url("./fonts/aeonik/Aeonik-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "CabinetGrotesk-Regular";
  src: url("./fonts/CabinetGrotesk/CabinetGrotesk-Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "CabinetGrotesk-Medium";
  src: url("./fonts/CabinetGrotesk/CabinetGrotesk-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "CabinetGrotesk-Bold";
  src: url("./fonts/CabinetGrotesk/CabinetGrotesk-Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "CabinetGrotesk-ExtraBold";
  src: url("./fonts/CabinetGrotesk/CabinetGrotesk-Extrabold.otf");
  font-weight: 800;
}

:root {
  --black: #010101;
  --background: #ffffff;
  --foreground: #171717;
  --pink: #ef5498;
  --softpink: #ffeeee;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "CabinetGrotesk-Regular";
  left: 0;
  top: 0;
  color: var(--black);
  background-color: var(--background);
}
.navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
}
/* Tambahkan efek hover untuk navigasi */

.menu-list::after {
  content: "";
  position: absolute;
  bottom: -4px; /* Jarak garis ke teks */
  left: 100%; /* Mulai dari ujung kanan */
  width: 0;
  height: 2px; /* Ketebalan garis */
  background-color: black;
  transition: all 0.3s ease; /* Animasi transisi */
}

.menu-list:hover::after {
  left: 0;
  width: 70%;
}

.menu-list:not(:hover)::after {
  left: 100%;
  width: 0;
}

.menu-list:hover {
  color: black;
}

.discount-nav {
  height: 44px;
  width: 100%;
  background-color: var(--black);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.discount-text {
  height: auto;
  font-family: "Aeonik-Medium";
  font-size: 10px;
  font-weight: 500;
}
.logo-nav {
  font-family: "CabinetGrotesk-Bold";
  font-size: 32px;
  line-height: 100%;
}
.menu-list {
  font-family: "Aeonik-Medium";
  font-size: 16px;
  transition: all 0.3s ease;
}
.menu-list:hover {
  transform: translateX(-2%);
  transition: all 0.3s ease;
}
.bold {
  top: 11%;
  left: 26%;
}
.bebold {
  right: 16%;
  height: 49px;
  width: 110px;
  top: 11%;
}
.fashionsvg {
  top: 50%;
  left: 16%;
  z-index: 15;
}
.adorasvg {
  top: 70%;
  right: 16%;
  z-index: 15;
}
.hero-text {
  z-index: -6;
}
.frame-heroimg {
  max-width: 1120px;
  margin-left: 56px;
  margin-right: 56px;
}
.frame-heroimg img {
  width: 38%;
}
.frame-responsive {
  align-items: center;
}
.hero-text h1 {
  font-family: "CabinetGrotesk-Bold";
  font-size: 280px;
  line-height: 100%;
  color: var(--black);
}
.topSecond {
  height: 300px;
}
.second-item p {
  font-size: 46px;
  line-height: 140%;
  text-align: center;
  font-family: "CabinetGrotesk-Regular";
}
.card-content {
  font-family: "Aeonik-Medium";
}
.card-content-left {
  transform: translateY(60%);
  transition: transform 0.4s ease;
}
.card-content-left p {
  opacity: 0;
}
.card-content:hover .card-content-left {
  transform: translateY(0%);
  transition: transform 0.4s ease;
}
.card-content:hover .card-content-left p {
  opacity: 1;
}
.card-content:hover .card-layer {
  transform: translateY(0%);
  transition: transform 0.4s ease;
}
.card-content:not(:hover) .card-layer {
  transform: translateY(60%);
  transition: transform 0.4s ease;
}

.card-content:hover .card-content-right {
  transform: translateY(-1000%);
  transition: transform 0.5s ease-in-out;
}
.card-content:not(:hover) .card-content-right {
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
}
.card-layer {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  transform: translateY(60%);
}
.card-content-top h1 {
  font-family: "CabinetGrotesk-Bold";
  font-size: 32px;
  color: white;
}
.card-content p {
  font-family: "Aeonik-Regular";
  font-size: 16px;
  line-height: 140%;
}
.card-content-top span {
  font-family: "CabinetGrotesk-Medium";
  font-size: 32px;
  color: white;
}
.card-newdrop:hover .imgfirst {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.card-newdrop:not(:hover) .imgfirst {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.card-newdrop:hover .imghover {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.card-newdrop:not(:hover) .imghover {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.card-newdrop:hover {
  transform: translateY(-5%);
  transition: transform 0.3s ease-in-out;
}
.card-newdrop:not(:hover) {
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
}
.arrow-card {
  width: 56px;
  height: 56px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.1);
}
.title-content h1 {
  font-family: "CabinetGrotesk-Medium";
  font-size: 86px;
  line-height: 140%;
}
.title-right {
  width: 413px;
}
.title-right p {
  font-family: "Aeonik-Regular";
  font-size: 16px;
  line-height: 140%;
  color: black;
}
.title-right a {
  font-family: "Aeonik-Regular";
  font-size: 16px;
  line-height: 140%;
  text-decoration: none;
  color: black;
}
/* Atur style dasar untuk link */
.explore-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
}

/* Pseudo-element untuk garis bawah */
.explore-link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 100%;
  width: 0;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease;
}
.explore-link:hover {
  transform: translateX(-5%);
  transition: transform 0.3s ease-in-out;
}
.explore-link:not(:hover) {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}
.explore-link:hover::after {
  left: 0;
  width: 70%;
}

.explore-link:not(:hover)::after {
  left: 0;
  width: 100%;
}

.newdrop-text p {
  font-family: "Aeonik-Medium";
}
.category-card {
  width: 100%;
  height: 100%;
}
.category-content {
  z-index: 10;
}
.category-content h2 {
  font-family: "CabinetGrotesk-Medium";
  font-size: 46px;
  line-height: 140%;
}
.category-card:hover .overlay-category {
  transform: translateY(0);
  transition: transform 0.3s ease;
}
.category-card:hover .overlay-category {
  transform: scale(4);
  transition: transform 0.3s ease;
}

.overlay-category {
  transform: scale(0);
  transform: translateY(100%);
  border-radius: 100%;
  transition: transform 0.3s ease;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  inset: 0;
  z-index: 5;
}
.category-content button {
  font-family: "Aeonik-Regular";
  font-size: 18px;
  border-radius: 100px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
}
.collaboration {
  background-color: #fee;
}
.collabtitle h1 {
  font-family: "CabinetGrotesk-Bold";
  font-size: 32px;
  color: black;
}
.collabtitle span {
  font-family: "CabinetGrotesk-Regular";
  font-size: 32px;
  color: black;
}
.collab-text h1 {
  font-family: "CabinetGrotesk-Bold";
  font-size: 72px;
  color: black;
  text-align: center;
  line-height: 120%;
}
.collab-text p {
  text-align: center;
  width: 70%;
  font-family: "Aeonik-Regular";
  font-size: 24px;
  line-height: 140%;
}
.collab-btn button {
  border-radius: 100px;
  border: 1px solid var(--primary-secondary-primary-black, #000);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
}
.collab-btn button:hover {
  background-color: white;
  transition: all ease-in-out 0.3s;
}
.discount-section {
  height: auto;
}
.bg-discount {
  background-image: url("./images/discountandfooter/discount-cta.png");
  background-size: cover;
  background-position: center;
}
.discount-content p {
  font-family: "Aeonik-Regular";
  font-size: 24px;
  line-height: 140%;
  color: white;
  width: 43%;
}
.discount-content button {
  border-radius: 100px;
  border: 1px solid var(--primary-secondary-secondary-white, #fff);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  color: white;
}
.discount-content .title h2 {
  font-family: "CabinetGrotesk-Bold";
  font-size: 46px;
  line-height: 140%;
  color: white;
}
.discount-content .title h1 {
  font-family: "CabinetGrotesk-ExtraBold";
  font-size: 62px;
  line-height: 140%;
  color: white;
}
.discount-content .title h3 {
  font-family: "CabinetGrotesk-Bold";
  font-size: 40px;
  line-height: 140%;
  color: white;
}
/* Clueless */
.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carousel-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 2px solid #333;
  border-radius: 10px;
}

.prev-btn,
.next-btn {
  background: none;
  border: none;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
  padding: 0 1rem;
}

.popup.visible {
  opacity: 1;
  pointer-events: all;
}
.prev-btn {
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 3px solid #000;
  background: #9da2a3;
}
.next-btn {
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 3px solid #000;
  background: #9da2a3;
}
.app {
  text-align: center;
  align-items: end;
  justify-content: center;
}
.containerCollab {
  max-height: 3728px;
}

.dress-me-btn {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  border: 3px solid #000;
  background: #9da2a3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.dress-me-btn:hover {
  background-color: #3330c9;
}

/* test */
.clueless-nav li {
  color: white;
  text-decoration: none;
  font-family: "KatahdinRound";
  font-size: 16px;
  font-weight: 400;
}
.cluelesscontent {
  height: 100%;
  flex: 1;
}
.cluelesscontent {
  flex: 1;
  background: palevioletred;
}
.cluelesscontent > div {
  width: 100%;
  height: 100%;
  background-size: 50%;
  display: flex;
  background-image: url("./images/collaboration/LeopardIMG.png");
  justify-content: center;
}
.bigBtn {
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 3px solid #000;
  background: #9da2a3;
  font-family: "KatahdinRound";
  padding: 4px 8px;
  font-size: 16px;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
  align-self: end;
}

.smallBtn:focus,
.smallBtn:hover,
.bigBtn:active,
.carouselBtn:active {
  background: #3330c9;
}
.smallBtn:focus,
.smallBtn:hover,
.bigBtn:active,
.carouselBtn:active {
  text-shadow: -0.2vw -0.1vw gray;
  border-bottom-color: #000;
  border-left-color: #a6b3ff;
  border-right-color: #000;
  border-top-color: #a6b3ff;
}
.smallBtn,
.bigBtn,
.carouselBtn {
  cursor: pointer;
}
#clothesDiv {
  height: 100%;
  width: 32vw;
}
#topCarousel,
#bottomCarousel {
  flex: 1;
  width: 100%;
  background: white;
}
#topCarousel,
#bottomCarousel,
.carouselBtn {
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 3px solid #000;
  background: #9da2a3;
}
.carouselContainer {
  width: 100%;
  height: 100%;
  position: relative;
}
.carouselImg {
  height: 70%;
  width: 70%;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.carouselBtnDiv {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: center;
}
.carouselBtn {
  background: #91919d;
  font-size: 1.5rem;
  padding: 3px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselBtn:nth-of-type(odd) {
  flex: 2;
}

.carouselBtn:nth-of-type(even) {
  flex: 1.5;
}
#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url("https://i.pinimg.com/736x/45/53/92/4553926e62fdb7a778750762128d2a93.jpg");
  background-size: cover;
  mix-blend-mode: multiply;
  opacity: 0.2;
  pointer-events: none;
  z-index: 3;
}
.popup {
  pointer-events: none;
  position: absolute;
  opacity: 0;
}
#popUp,
#popUpShadow {
  padding-top: 2.5vw;
  position: absolute;
  width: 73vw;
  height: 10vw;
  left: 50%;
  top: 50%;
}

#popUp {
  background-color: white;
  font-family: "KatahdinRound";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40vw;
  color: white;
  font-size: 12px;
  font-weight: 600;
  outline: 0.5vmin solid black;
  z-index: 5;
}

#popUpShadow {
  font-size: 12vw;
  color: white;
  background-color: black;
  transform: translate(-48%, -40%);
  opacity: 0.8;
  z-index: 1;
}
.collab-bottom {
  height: 100%;
  width: 100%;
}
.clueless-footer ul li {
  text-decoration: none;
  font-family: "KatahdinRound";
  font-size: 16px;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer-list h1 {
  color: #aaaaaa;
  font-family: "Aeonik-Medium";
  font-size: 18px;
  line-height: 140%;
}
.footer-list p {
  color: white;
  position: relative;
  font-family: "Aeonik-Regular";
  font-size: 14px;
  line-height: 140%;
}
.footer-list p:hover {
  cursor: pointer;
  transform: translateX(-5%);
  transition: transform 0.2s ease-in-out;
}
.footer-list p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}
.footer-list p:hover::after {
  width: 30%;
  left: 0;
}
.bottom-footer h1 {
  width: 100%;
  color: white;
  font-size: 24px;
  font-family: "Aeonik-Medium";
}
.left-footer {
  width: 70%;
}

.right-footer {
  width: 55%;
}
.left-footer,
.right-footer {
  flex: 1; /* membuat kedua kolom tumbuh secara proporsional */
}
.right-footer h1 {
  font-family: "Aeonik-Medium";
  font-size: 24px;
  color: white;
}

.input-email {
  border-bottom: 1px solid white;
}

/* Responsive  */
@media (max-width: 1024px) {
  .hero-text h1 {
    font-size: 220px;
  }

  .frame-responsive {
    width: 100%;
    align-items: center;
    gap: 4rem;
  }

  .frame-heroimg img {
    width: 80%; /* Kurangi ukuran gambar di layar tablet */
    max-width: 320px;
  }
  topSecond {
    height: auto; /* Sesuaikan tinggi agar fleksibel */
    flex-direction: column; /* Ubah arah tata letak menjadi vertikal */
    gap: 2rem; /* Tambahkan jarak antar elemen */
    margin: 0 3rem 7rem; /* Kurangi margin untuk tablet */
    font-size: 1rem; /* Font lebih kecil untuk tablet */
  }
}
@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 120px;
  }
  .bebold {
    height: 30px;
    width: 90px;
    right: 20%;
    top: 20%;
  }
  .bold {
    width: 80px;
    top: 0;
    left: 40px;
    height: 40px;
  }

  .hero-section {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .frame-responsive {
    width: 100%;
  }
  .adorasvg {
    top: 80%;
    left: 70%;
    z-index: -1;
  }
  .fashionsvg {
    z-index: -1;
    top: -25%;
    height: 200px;
  }
  .frame-heroimg img {
    align-items: center;
    width: 70%; /* Ukuran lebih kecil untuk ponsel */
    max-width: 250px;
  }

  .frame-heroimg > div {
    margin-left: -20%;
    gap: 5rem; /* Sesuaikan jarak antar elemen */
  }
  .topSecond {
    height: auto;
    gap: 1.5rem; /* Jarak antar elemen lebih kecil */
    margin: 0 2rem 5rem; /* Margin lebih kecil untuk ponsel */
    font-size: 0.875rem; /* Font kecil untuk ponsel */
  }
  .second-item p {
    font-size: 24px;
  }
  .second-section {
    margin: 2px 8px;
  }
  .topSecond svg {
    width: 30px; /* Ukuran ikon lebih kecil */
    height: 30px;
  }
  .second-section {
    padding: 49px 8px;
  }
  .card-container {
    display: flex;
    flex-direction: column;
  }
  .discount-content p {
    width: 90%;
  }
  footer {
    height: 100%;
  }
  .footerSection {
    display: flex;
    flex-direction: column;
  }
  .left-footer {
    gap: 20px;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
  }
  .top-footer {
    display: flex;
    align-items: center;
    padding-right: 0px;
    justify-content: space-between;
  }
  .footer-list {
    gap: 8px;
    width: 100%;
  }
  .footer-list h1 {
    width: 100%;
    font-size: 12px;
  }
  .footer-list p {
    font-size: 10px;
  }
  .bottom-footer h1 {
    font-size: 18px;
  }
  .right-footer {
    width: 100%;
  }
  .right-footer img {
    position: static;
    width: 100%;
  }
  .rightfooterContent {
    gap: 0px;
  }
  .rightfooterContent h1 {
    font-size: 14px;
  }
  .rightfooterContent svg {
    height: 20px;
  }
  .discount-nav p {
    font-size: 8px;
  }
  .search-nav {
    display: none;
  }
  .notification {
    display: none;
  }
}

.animate-float-slow {
  animation: float 5s ease-in-out infinite;
}

.animate-float-medium {
  animation: float 3s ease-in-out infinite;
}

.animate-float-fast {
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
